@model Ecom.Models.Cart

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-5">
    <h2>Cart</h2>
    <table class="table">
        <thead>
            <tr class="text-center">
                <th>Product</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="@item.Product.ImageUrl" class="img-fluid" alt="Sofa" style="width: 120px; border-radius: 10px;">
                        </div>
                    </td>
                    <td>
                        <div class="quantity-control">
                            <a class="btn btn-outline-primary decrement-btn" data-product-id="@item.Id">-</a>
                            <input id="quantity_@item.Id" class="btn btn-outline-primary quantity" type="text" value="@item.Quantity" readonly>
                            <a class="btn btn-outline-primary increment-btn" data-product-id="@item.Id">+</a>
                        </div>
                    </td>
                    <td id="unitPrice">Rs @item.UnitPrice</td>
                    <td id="totalPrice_@item.Id" class="totalPrice">Rs @item.TotalPrice</td>
                    <td>
                        <form method="post" asp-controller="Carts" asp-action="RemoveFromCart">
                            <input type="hidden" name="cartItemId" value="@Html.ValueFor(model => item.Id)" />
                            <button class="btn btn-link text-danger p-0">×</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <div class="d-flex justify-content-between">
            <a asp-controller="Shop" asp-action="Shop" class="continue-shopping">&larr; Continue shopping</a>
            <span class="cart-total" id="grandTotal">Total: Rs @Model.GrandTotal </span>
        </div>

    </table>
    <a type="submit" class="btn btn-primary mt-4" asp-action="Checkout">Checkout</a>
</div>