@model IEnumerable<Ecom.Models.Product>

@{
    ViewData["Title"] = "Index";
    int serialNumber = 1;
}

<h1 class="text-center">All Products</h1>

<p class="offset-10">
    <a class="btn btn-primary" asp-action="Create"><iconify-icon icon="gridicons:create"></iconify-icon> Create New</a>
</p>
<div class="container">
    <table class="table">
    <thead>
        <tr>
            <th>
                S.N.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
            @serialNumber
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td class="actions">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id"><iconify-icon icon="carbon:edit"></iconify-icon> Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><iconify-icon icon="ic:baseline-delete"></iconify-icon> Delete</a>
            </td>
        </tr>
    serialNumber++;
}
    </tbody>
</table>

</div>
